[2017-06-20 19:18] toddpi314 opened #433 "Remove console.logs"
Please either create a logging abstraction or add a condition to disable logs.
The parse/print statements muddy up logs in build environments (like gulp).

The current work-around is to override console.log before utilizing this library.

Thanks!

[2017-06-21 09:29] GEMI commented on #370
When are you planning to make these improvements?

[2017-06-21 13:41] pedroteixeira commented on #427
Not sure if this is best thread to ask this: but is there any current plugin for esdoc that would integrate/read data from react-docgen? It would solve needs that we have for generating esdoc from React components.

thanks!

[2017-06-21 13:52] pedroteixeira commented on #90
hi @ralf-o , did you manage to find a way to document "dynamic classes"? such as in React.createClass.
I was thinking about a plugin to integrate with react-gendoc in this case.

[2017-06-22 16:25] TuanLDT opened #434 "How to gen file CHANGELOG.md"
Sorry if I bother you.
I have a question, how to gen file CHANGELOG.md the same as in esdoc. I used "conventional-changelog" but the results were not as in esdoc.

Thanks!

[2017-06-22 20:11] pzuraq opened #435 "Support for class property types and default values"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/usage/feature.html
- [x] https://esdoc.org/manual/configuration/config.html
- [x] https://esdoc.org/manual/usage/tags.html
- [x] https://esdoc.org/manual/advanced/api.html
- [x] https://esdoc.org/manual/faq/faq.

[2017-06-24 03:22] TuanLDT commented on #434
I have fork and edit template conventional-changelog-angular, standard-version and result correct.
Please close this issue.

Thanks!

[2017-06-24 03:22] #434 closed

[2017-06-25 09:59] QuentinRoy commented on #391
I have the same error. No idea where it comes from in my code. I used the syntax as code documentation but never run esdoc before recently. The error message does not give me any opportunity to fix whatever is wrong..

[2017-06-26 17:16] ead139 commented on #419
+1

[2017-06-27 06:00] leowang721 opened #437 "Missing Doc folder after installing."
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/usage/feature.html
- [x] https://esdoc.org/manual/configuration/config.html
- [x] https://esdoc.org/manual/usage/tags.html
- [x] https://esdoc.org/manual/advanced/api.html
- [x] https://esdoc.org/manual/faq/faq.

[2017-06-27 06:03] leowang721 commented on #437
Sorry, I know why now.
.yarnclean did the job.

[2017-06-27 06:03] #437 closed

[2017-06-27 13:27] SkReD opened #438 "Cyrillic symbols in markdown headers are removing from hash part of links in navigation"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/usage/feature.html
- [ ] https://esdoc.org/manual/configuration/config.html
- [ ] https://esdoc.org/manual/usage/tags.html
- [ ] https://esdoc.org/manual/advanced/api.html
- [ ] https://esdoc.org/manual/faq/faq.

[2017-06-29 01:31] kgregory commented on #419
Duplicate of #415

[2017-06-29 01:38] kgregory commented on #419
Also worth noting that this is a duplicate of #260, which was closed by @h13i32maru:

So it appears that there is no intention to support the documentation of anything except classes.

Is this still the case, @h13i32maru?

[2017-07-01 01:35] cipri-tom commented on #387
unfortunately, the docs (no longer?) state that it is possible. But it would be very useful, indeed !

[2017-07-01 01:38] cipri-tom commented on #407
I second this !

As I started with ESDoc, I was surprised that it didn't output anything. I thought it was completely broken. It took me some digging to realise that it needed this configuration.

[2017-07-01 11:52] cipri-tom commented on #401
It would be great if ESDoc could regenerate only the documentation corresponding to the modified source files, but this is probably very difficult to do.

Anyway, +1 for this question and proposal

[2017-07-03 19:17] khaiphan opened #439 "Error: unknown decorator expression type: MemberExpression"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/usage/feature.html
- [x] https://esdoc.org/manual/configuration/config.html
- [x] https://esdoc.org/manual/usage/tags.html
- [x] https://esdoc.org/manual/advanced/api.html
- [x] https://esdoc.org/manual/faq/faq.

[2017-07-04 19:26] pedroteixeira commented on #220
Hello, any one knows if there exists a plugin that could infer esdoc comments from PropTypes?

[2017-07-11 14:53] gknaxtrader commented on #427
0.5.2 "could not parse" the code containing the Flow type declarations like

`@observable online:boolean = window.navigator.onLine;`

All of the experimentalProposal in the .esdoc.json are copied as is from the example in the documentation.

[2017-07-14 18:53] nighto commented on #403
Just had a similar problem and found out that if you do **object destructuring** you should specify the object being destructured as single parameter.

For instance, the following code will fail:

[code]

and you should change it for something like this:

[code]

Notice that the name `obj` is arbitrary and doesn't need to be explicitly set on your code.

[2017-07-15 15:35] Kepro commented on #391
same here...

[code]

[2017-07-17 07:29] Kamilius commented on #397
Same issue for large project

[2017-07-17 16:26] lsentkiewicz opened #440 "experimentalProposal properties are not working"
(Below links from the issue template are not working)
- [ ] https://esdoc.org/manual/usage/feature.html
- [ ] https://esdoc.org/manual/configuration/config.html
- [ ] https://esdoc.org/manual/usage/tags.html
- [ ] https://esdoc.org/manual/advanced/api.html
- [ ] https://esdoc.org/manual/faq/faq.html

# Short summary of your issue
Spread operator doesn't work. I am using sample code from here https

[2017-07-17 17:59] pzuraq commented on #440
In alpha 7 these are now broken out into plugins:

[code]

[2017-07-21 11:19] ibc opened #441 "Hide "import Xxxx from 'mystuff/lib/Xxxx.js'""
I don't want to publicly expose how to `import` a specific `class` in my library. Instead, my library exposes a factory.

So, how to avoid ESdoc displaying `import Xxxx from 'mystuff/lib/Xxxx.js'` at the top of the Xxxx `class` documentation?

[2017-07-21 14:08] ibc opened #442 ""export { XXXX };" does not get API documented"
My main `index.js` file has this:

[code]

However such a exported `Room` does not appear in the generated documentation (in the index.html itself).

Yes, still I can go to the `Room` documentation page which, at the top, displays `import Room from 'myproject/lib/Room.js'`. But I don't want to expose that way of importing this class (related to #441).

[2017-07-21 20:49] pzuraq commented on #441
You may need to modify the HTML generator for this, I don't think there is a public way to exclude it.

[2017-07-21 21:15] ibc commented on #441
Yes, in fact I've found nothing to achieve that. However, I wonder: who assumes that **any** ES6 class within a library should be publicly exposed? In many cases, those are just for internal usage or, even if exposed via public API, the user is not supposed to directly `import` such a class, but instead get class instances vía other public APIs such as factories and so on.

[2017-07-21 21:18] pzuraq commented on #441
Agreed. The plugin system in v1 should be powerful enough to handle this though, you can add arbitrary tags so if we can modify the HTML generation plugin we could pretty easily add it:

https://github.com/esdoc/esdoc-plugins/tree/master/esdoc-publish-html-plugin

I'm also in need of some custom functionality, would definitely be down to join forces and work on a fork of the publish plugin that's

[2017-07-21 21:22] ibc commented on #441
Most of the official plugins in https://github.com/esdoc/esdoc-plugins/tree/master/ don't even have a minimal description. I just don't know what they provide at all.

[2017-07-21 21:29] pzuraq commented on #441
yeah, I had to dig in myself 😕  @h13i32maru seems to be backlogged, and is focussing most efforts on v1. I think the plugin system is a great decision in that regard, it'll make it so the community can add more functionality independently.

So, ESDoc itself will crawl the code and generate JSON which describes each thing. This JSON has an entry for each export, function, variable, class, etc. And

[2017-07-22 10:23] ibc commented on #441
Thanks for he explanation.

[2017-07-22 13:38] ibc commented on #442
Even worse:

[code]

Such a exported `Foo` is not documented anywhere in the HTML generated by ESDoc.

It seems that ESDoc is just focused on documenting whichever classes or modules it finds in any file  rather than documenting what the library/app/code really exposes.

[2017-07-25 07:43] tbillington opened #443 "Generate JSON instead of HTML"
Is it possible to output a JSON representation of the docs, similar to react-docgen?

I looked through the website but couldn't see anything that related to potentially outputting JSON.

[2017-07-26 19:52] dontpanic5 commented on #271
I'm still getting this issue in 0.5.2.

This code will stop ESDoc from documenting the file:

	export default class Test extends React.Component {

		IBreakIt = () => {
			// broken
		};

		componentDidUpdate() {
			// stuff
		};

		render() {
			return (<div/>);
		};
	}

[2017-07-30 08:33] h13i32maru commented on #386
ESDoc v1.0 was out!

[2017-07-30 08:33] #386 closed

[2017-08-01 22:12] icambron opened #445 "Summary doesn't truncate if it contains an apostrophe"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/usage/feature.html
- [x] https://esdoc.org/manual/configuration/config.html
- [x] https://esdoc.org/manual/usage/tags.html
- [x] https://esdoc.org/manual/advanced/api.html
- [x] https://esdoc.org/manual/faq/faq.

[2017-08-01 23:09] rayk commented on #391
Same problem here...

[code]

[2017-08-02 03:25] wbhob commented on #430
You have to define a plugin

[2017-08-02 03:34] wbhob opened #447 "TypeScript throwing errors for lines that don't exist"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/usage/feature.html
- [x] https://esdoc.org/manual/configuration/config.html
- [x] https://esdoc.org/manual/usage/tags.html
- [x] https://esdoc.org/manual/advanced/api.html
- [x] https://esdoc.org/manual/faq/faq.

[2017-08-03 21:59] scaljeri commented on #432
+1 same issue here. Thnx for the fix!

    "dependencies": {
        "esdoc": "^1.0.1",
        "esdoc-standard-plugin": "^1.0.0"
    }

[2017-08-04 06:27] Benno007 commented on #403
Would be good if it threw the error where it happens 👍

[2017-08-05 01:46] wbhob commented on #447
Hello? Is anyone there?

[2017-08-05 09:28] delano-infodatek opened #448 "Node constant is null bug"
I tried setting up esdoc for my project and it kept giving me errors that a node variable was null.
Every line that called
[code]
Gave an error. I did a quick fix by adding
[code]
after each line containing a call to `ASTNodeContainer.getNode` and this actually solved the issue but i'm still not really sure what went wrong. It seemed to crash on one particular file, so I'm guessing something is wr

[2017-08-10 16:17] arose opened #449 "esdoc fails with lint option disabled"
Error when lint option is disabled. Works ok with lint option enabled
[code]

Part of config
[code]

# Your environment
- OS type and version: mac osx
- Node.js version: v6.6.0
- ESDoc version: v1.0.1 (standard plugin v1.0.0)

[2017-08-15 00:24] Benno007 commented on #432
Same issue here. It also has the issue of the file is `readme.md` instead of README.md.

[2017-08-17 08:46] nicolo-ribaudo commented on #447
ESDoc doesn't support TypeScript because it uses Babylon 6 to parse the input code. You may use the [esdoc-typescript-plugin](https://github.com/esdoc/esdoc-plugins/tree/master/esdoc-typescript-plugin)

[2017-08-17 13:48] wbhob commented on #447
That is what I am using

[2017-08-19 13:58] moshest opened #450 "Support for multi-packages projects?"
For example, let's check the [Babel repository](https://github.com/babel/babel). This repository have multiple packages on the same repository so generating single docs for this library will generate many invalid import paths. In addition, there is no option to include multiple package.json files or disable loading it.

Generally, I think that this library doing great work but make too many assump

[2017-08-19 14:22] moshest opened #451 "Define custom import for variables"
Consider the following project:

[code]

[code]

On the docs the import statement will be: `import Foo from 'my-lib/src/Foo.js'`
Instead of: `import { Foo } from 'my-lib/src/helpers'`

It would be nice to declare for each class what the best way to import it, like:

[code]

[2017-08-19 14:36] moshest opened #452 "Ignore comments with empty-line in between."
Please consider the following case:

[code]

On the esdoc it's generate the class as-if the copyright statement is the class documentation. I think that it should ignore comments if there is empty line between the variable and the comment.

[2017-08-23 15:11] jwhitmarsh commented on #418
Any luck with this @mattberkowitz ?

[2017-08-24 06:42] zemzheng commented on #430
@wbhob why i should define a plugin if i want to use Audio which is supported in browser?

[2017-08-25 13:46] sonsoleslp commented on #420
It would be great to have this in order to update the docs when a file is updated.

[2017-08-28 20:41] Xal3ph opened #454 "autoPrivate does not remove coverage %"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/usage/feature.html
- [x] https://esdoc.org/manual/configuration/config.html
- [ ] https://esdoc.org/manual/usage/tags.html
- [ ] https://esdoc.org/manual/advanced/api.html
- [ ] https://esdoc.org/manual/faq/faq.

[2017-08-28 23:34] oravecz commented on #108
Is it possible to override this behavior in a plugin?

[2017-08-30 04:33] oravecz commented on #108
Why, yes it is possible.
https://www.npmjs.com/package/esdoc-member-plugin

ESDoc is very well architected except for the templating. Appending a "readonly" or "writeonly" tag to the property is incredibly difficult. I don't see any support for extending an existing template, without forking the whole publishing plugin.

[2017-09-01 14:18] kimus opened #455 "How to document inner class/code?"
How to document inner Class or Code?

Something like this:
[code]

Equivalent to something like this:
[code]

[2017-09-03 07:07] h13i32maru commented on #430
I fixed this with f3d3f0f

[2017-09-03 07:07] #430 closed

[2017-09-05 07:39] raziza commented on #391
I had the same problem. and narrowed my code so i found my file that cause problem.
after debuging esdoc found out that I had `@param {{x,y}} point ...` and it expected types after each property.
correct syntax is `@param {{x:Number,y:Number}} point ...`.. Now it is working.
Yes bug in `esdoc` but you can never cover all cases.

Hope it will help someone

[2017-09-05 08:31] kalitine opened #456 "Configuration's `includes` property is ignored"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/usage/feature.html
- [x] https://esdoc.org/manual/configuration/config.html
- [ ] https://esdoc.org/manual/usage/tags.html
- [ ] https://esdoc.org/manual/advanced/api.html
- [ ] https://esdoc.org/manual/faq/faq.

[2017-09-05 09:57] raziza commented on #81
Is there any progress or any workaround this problem ?

[2017-09-06 20:58] willyboy opened #457 "Properties declared on a class aren't documented until you initialize them with a value."
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/usage/feature.html
- [ ] https://esdoc.org/manual/configuration/config.html
- [ ] https://esdoc.org/manual/usage/tags.html
- [X ] https://esdoc.org/manual/advanced/api.html
- [ ] https://esdoc.org/manual/faq/faq

[2017-09-06 20:59] willyboy commented on #457
I've been looking through the source to try to find out where the check for "=" is done but haven't found it yet :/ It looks like it could even be part of Babylon? If you point me in the right direction, I can open a PR

[2017-09-07 02:10] oravecz commented on #455
Just for more information, the processing of the AST into "docs" does not recognize the class that is returned from by the outer function.

[code]

evaluates to a `function` instead of a `class`. Perhaps this is a case for a `@class` tag?

[code]

[2017-09-07 10:37] adilek opened #458 "Problem with @const and @private tags"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/usage/feature.html
- [ ] https://esdoc.org/manual/configuration/config.html
- [ ] https://esdoc.org/manual/usage/tags.html
- [ ] https://esdoc.org/manual/advanced/api.html
- [ ] https://esdoc.org/manual/faq/faq.

[2017-09-07 10:41] adilek commented on #458
Worked in this way:
[code]

[2017-09-08 07:19] kalitine commented on #456
I've just tested without typescript plugin and it works, so the problem might in typescript plugin.

[2017-09-08 12:10] deser commented on #449
Guys, any thoughts?

[2017-09-08 16:16] janstrohbeck commented on #449
https://github.com/esdoc/esdoc-plugins/pull/19 fixes this

[2017-09-12 16:59] bmaupin opened #459 "Feature request: default configuration"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/usage/feature.html
- [x] https://esdoc.org/manual/configuration/config.html
- [x] https://esdoc.org/manual/usage/tags.html
- [x] https://esdoc.org/manual/advanced/api.html
- [x] https://esdoc.org/manual/faq/faq.

[2017-09-13 12:55] bmaupin opened #460 "Add @package tag"
I'd love it if you could add `@package` (and `@access package`) for package private symbols as defined by JSDoc:

http://usejsdoc.org/tags-package.html

Thanks!

[2017-09-20 09:27] GetHugWuSheng opened #461 "using local fonts instead of google fonts"
Hi, thanks a lot for your contributions for es development.

I found ESDoc trying to load fonts from Google Fonts at startup. This making it's very slow when we access the docs in the isolated local network without Internet connections.

Is there a configuration can tell ESDoc to load fonts in the local environment?

[2017-09-20 11:02] michaltaberski opened #462 "Skip documenting untagged code"
It's more support question, then ESDoc issue but maybe someone is able to help me here.

My codebase is huge and I am just about to introduce ESDoc at my project.
I generated documentation but it's full of meaningless definitions.

For now I would like to generate documentation only for tagged / described functions.
I would like to skip documenting any function without tagging.

How can I do this?

[2017-09-20 12:32] h13i32maru commented on #439
I fixed this issue with ESDoc v1.0.3 and esdoc-ecmascript-proposal-plugin.
Please check it.

[2017-09-20 12:32] #439 closed

[2017-09-21 09:15] michaltaberski commented on #462
For those who has the same issue:

[code]

[2017-09-28 08:32] jinxac commented on #403
I was trying the same and bumped onto this because of following:-
[code]

[2017-09-30 11:44] engelen commented on #148
Has anything been implemented that solves this issue? I cannot get the documentation of a parent class method to be copied to the child class method.

[2017-10-04 14:10] marcdavi-es opened #463 "Tags conflict with ES2016 decorators."
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/usage/feature.html
- [ ] https://esdoc.org/manual/configuration/config.html
- [ ] https://esdoc.org/manual/usage/tags.html
- [ ] https://esdoc.org/manual/advanced/api.html
- [ ] https://esdoc.org/manual/faq/faq.

[2017-10-09 20:52] robertmain commented on #91
+1 on this

[2017-10-11 08:31] karanbajaj2209 opened #465 "ESDoc not able to generate documentation if React render method has a JSX comment"
# Short summary of your issue

Hello,

I am not able to create documentation for the React render method if it contains a JSX comment.

=== JSX comment example ===
{/* Test Coment */}

Is there any configuration by which I can ignore these comments and generate comments for the render method?

=== Render method example ===
/**
 * render is a react lifecycle method.
 * @access private
 * @return {R

[2017-10-12 22:10] robertmain commented on #451
It would also be nice to be able to flip an option for ESdoc to ignore imports entirely so that I don't have to go and `@ignore` all my calls to `import` and `require()`

[2017-10-12 22:15] robertmain opened #466 "Multiple constructors"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/usage/feature.html
- [ ] https://esdoc.org/manual/configuration/config.html
- [ ] https://esdoc.org/manual/usage/tags.html
- [ ] https://esdoc.org/manual/advanced/api.html
- [ ] https://esdoc.org/manual/faq/faq.

[2017-10-13 22:30] vihanb commented on #440
With new esdoc 1.0.0 and esdoc-ecmascript-proposal-plugin, I still get the error for static properties. Is there some bug?

[2017-10-13 22:32] vihanb opened #467 "ESDoc with proposal gives error when parsing static property"
# Short summary of your issue
This is the error:

[code]

which is valid syntax (works with babel) but esdoc throws error.

Proposal plugin is enabled:

[code]

[2017-10-16 08:49] FalFire opened #468 "async class methods not documented"
I am trying to generate documentation for ES6 classes, but all async methods are skipped. Is this a bug or is there no support for this yet?

[2017-10-18 01:30] ProLoser opened #469 "Plugin features are not working"
- [x] https://esdoc.org/manual/usage/feature.html
- [x] https://esdoc.org/manual/configuration/config.html
- [x] https://esdoc.org/manual/usage/tags.html
- [x] https://esdoc.org/manual/advanced/api.html
- [x] https://esdoc.org/manual/faq/faq.html

# Short summary of your issue
Plugin features don't appear to be working despite following configuration instructions.

# Input data for reproducing
###

[2017-10-18 01:30] ProLoser commented on #469
The links at the top are all broken and you have 2 identical sections in the issue template too.

[2017-10-18 11:14] JulianKingman commented on #260
I'd love to see an option for this.

[2017-10-18 15:37] marekn22 commented on #419
I really need to document object literals. Are there any workarounds for now?

[2017-10-18 16:57] sysleaf commented on #81
I also wanted this feature!

[2017-10-18 18:03] sysleaf commented on #261
+1

[2017-10-19 13:38] mysim1 opened #471 "AbstractDoc incorrectly maps decorators which contain multiline arguments"
# Short summary of your issue
When AbstractDoc is mapping decorators inside javascript files that contain multiline arguments. The DocBuilder html plugins fails with an error =>
https://github.com/esdoc/esdoc-plugins/issues/36

Caused at:
https://github.com/esdoc/esdoc/blob/46b4c29b2123cb55c0c219635c943c522c827ae0/src/Doc/AbstractDoc.js#L550

Multiline matching @ JavaScript and regular expressions

[2017-10-20 11:31] sysleaf commented on #91
+1 @enum and @event are two missing tag that will make this tool awesome

[2017-10-20 18:05] ccqgithub commented on #419
+1

[2017-10-25 17:21] ProLoser commented on #469
After looking at [other projects](https://github.com/ReactiveX/rxjs/blob/master/esdoc.json) that use esdoc I realized that your own documentation is inconsistent and wrong.

Only this works (placing plugin configs at the top level):
[code]

[2017-10-25 17:39] ProLoser commented on #469
I was on pre-1.x.x of esdoc :/

[2017-10-25 17:39] #469 closed

[2017-10-26 13:10] ChrisRast opened #473 "v1.0.3: SyntaxError: Invalid regular expression: /[~]connect"
# Short summary of your issue
ESdoc 1.0.3 crashes during output. It's a regression from 1.0.2 which is working well.

# Input data for reproducing
#### Configuration
[code]

#### Codes
[code]

# Output data
#### Log
[code]

# Your environment
- OS type and version: MacOS 10.12
- Node.js version: 8.6
- ESDoc version: 1.0.3
**Note:** This is not happening with 1.0.2

Do you need more info?

[2017-10-26 13:12] ChrisRast commented on #473
Same issue as #463 . I close this one.

[2017-10-26 13:12] #473 closed

[2017-10-26 13:13] ChrisRast commented on #463
Copied from another issue I reported before seeing this one:

---

# Short summary of your issue
ESdoc 1.0.3 crashes during output. It's a regression from 1.0.2 which is working well.

# Input data for reproducing
#### Configuration
[code]

#### Codes
[code]

# Output data
#### Log
[code]

# Your environment
- OS type and version: MacOS 10.12
- Node.js version: 8.6
- ESDoc version: 1.0.3
**Note:**

[2017-10-26 22:08] ProLoser commented on #66
@h13i32maru feel like you should re-open this issue because while many people use classes in their javascript these days, there's absolutely NO reason to make ALL of their code classes, and completely disregarding or hobbling the other _half_ of javascript is just extremely limiting.

I use both classes AND hashes of utility functions. I do NOT want to have to create a bunch of classes with static

[2017-10-26 22:12] ProLoser commented on #66
Nevermind, I'm just gonna go back to jsdoc.

Documentation coverage and unit test integration features are awesome but they're not worth half of my codebase not being documented properly or being flattened into massive collections of functions and constants because of a design decision.

[2017-10-27 06:25] PinkaminaDianePie commented on #66
@ProLoser check http://documentation.js.org/ also. It work nicely with any es-next features, even staged ones and can parse types from Flow annotations. Moved to it from esdoc without any regrets, because first order function support is must-have feature to js since it's not object oriented, but multi-paradigm

[2017-10-27 14:38] martlaboloa opened #474 "raw documentation as JSON"
I'm sorry for obvious question but I'm bad at research.
So is there way to get row json data of docs so that I choose how to show it?
What I'm saying is that I need flexibility, of how docs are presented(I'm not talking about styling):
- how are they broken down and combined in project structure, suppose i want to decide module structure.
- so on.
If it is it should probably have specific format,

[2017-10-27 21:06] gs-akhan opened #475 "PR request responsive"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/usage/feature.html
- [ ] https://esdoc.org/manual/configuration/config.html
- [ ] https://esdoc.org/manual/usage/tags.html
- [ ] https://esdoc.org/manual/advanced/api.html
- [ ] https://esdoc.org/manual/faq/faq.

[2017-11-03 20:37] Aldlevine opened #476 "Unable to parse closing parentheses in doc comments."
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/usage/feature.html
- [ ] https://esdoc.org/manual/configuration/config.html
- [x] https://esdoc.org/manual/usage/tags.html
- [ ] https://esdoc.org/manual/advanced/api.html
- [ ] https://esdoc.org/manual/faq/faq.

[2017-11-04 00:25] Aldlevine commented on #476
Nevermind... it was an issue with a preprocessing script, not esdoc.

[2017-11-04 00:25] #476 closed

[2017-11-04 11:08] waltergms opened #477 "SyntaxError: Unexpected token ? in JSON at position 0"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/usage/feature.html
- [ ] https://esdoc.org/manual/configuration/config.html
- [ ] https://esdoc.org/manual/usage/tags.html
- [ ] https://esdoc.org/manual/advanced/api.html
- [ ] https://esdoc.org/manual/faq/faq.

[2017-11-04 11:30] waltergms commented on #477
Json identation must be 2 spaces not TAB.
Can be closed.

[2017-11-06 18:32] MattMcFarland commented on #406
I am experiencing the same problem using node 8.

[2017-11-06 20:15] MattMcFarland commented on #406
@h13i32maru can I get word from you that this project is still maintained?  The issues and PR are piling up.  I can work on fixing this issue if you are still interested in working on this project. I'd be happy to help you out as well.

[2017-11-06 20:16] MattMcFarland commented on #406
@h13i32maru can I get word from you that this project is still maintained?  The issues and PR are piling up.  I can work on fixing this issue if you are still interested in working on this project. I'd be happy to help you out as well.

[2017-11-06 21:48] relicmelex commented on #406
@MattMcFarland I found out the problem is how JS handles strings... you docker container just doesn't have enough resources as what you're asking it to do is a fairly heavy task. The addition of using streams is I think the correct solution, but you may have to fork and start being the maintainer... I'd follow up. Cheers.

[2017-11-07 05:43] MattMcFarland commented on #406
Been playing around with this, and inspecting memory usage!

When using the original method usage is this:
[code]

When using stream API the memory usage is this:
[code]

The differences aren't much, and I haven't tested this in our gitlab runner yet.  Even with streams, calling JSON.stringify is heavy.  I am thinking we might have to break the objects up a little bit to prevent a huge push to JSO

[2017-11-07 07:30] MattMcFarland commented on #406
Ok, I just found an awesome library: [big-json](https://github.com/DonutEspresso/big-json), and verified that it breaks the json up so stringify never hits its limit. I've implimented it, tested it with a huge file, and pushed up the changes.  I am going to send a PR!

[2017-11-07 07:46] MattMcFarland commented on #475
This is a great suggestion. @h13i32maru what do you think? :)

[2017-11-07 07:48] MattMcFarland commented on #474
Great feature idea!  As of now, it doesn't appear to create raw documentation as JSON, but it does generate an AST (Abstract Syntax Tree) which you could use to parse your documentation.

After you build, in your `out` directory (whichever directory your docs are generated in) - navigate to the ast folder.

please have a look at that.  It might be something you can use!

[2017-11-07 14:19] Aldlevine commented on #474
Along with the AST that @MattMcFarland mentioned, there should also be a file in your `out` directory called `index.json`. This appears to contain everything you would need:

[code]

[2017-11-07 15:38] flodonsky commented on #406
Ohhh, very nice...!

[2017-11-07 21:35] MattMcFarland commented on #406
We have a working solution, but I want to make sure we cover our bases before sending the PR.  Sorry for the early request!  Will have one ready soon

[2017-11-08 14:17] MattMcFarland commented on #471
Any word on this issue being resolved?

[2017-11-08 14:20] MattMcFarland commented on #466
Interesting proposal - while I personally disagree with this because javascript really doesnt support it and you're using a workaround - I dont see why esdoc cant really facilitate what your asking for, so this seems like an interesting feature to add.

[2017-11-08 14:22] MattMcFarland commented on #465
Hi, yeah right now react isnt really supported with esdoc, we could add that as a feature to use react-docgen or something, similar to react-styleguidist.

Personally I would recommend documenting react code with react-styleguidist instead of esdoc, - but this could be a nice feature (its just react-styleguidist does react component documentation sooo well)

[2017-11-08 14:22] MattMcFarland commented on #467
I think this is because the `esdoc-ecmascript-proposal-plugin` is a bit out-dated, and not up to speed with babel.

[2017-11-08 14:25] MattMcFarland commented on #461
I think you can do this with the style plugin: https://github.com/esdoc/esdoc-plugins/tree/master/esdoc-inject-style-plugin - as you can change the html css to use a different font, so when the browser loads up it can skip the google font load (if browser supports it, it might still try to load it and then throw it away)

One idea I have is to add a feature to drop-in replace the css with your own

[2017-11-08 14:25] MattMcFarland commented on #460
oh this would be really nice, I like this idea.

[2017-11-08 15:39] MattMcFarland commented on #406
Ok, we finally have finished this up.  This was a pretty big effort between @workjalexanderfox and I, including code reviews, testing, iteration, cleanup, etc.  Hope this helps the community and we look forward to contributing more to esdoc in the future.

[2017-11-08 15:47] robertmain commented on #466
Thanks. Whilst I'm aware that TypeScriipt is not Java(which does support multiple constructors). It would be handy to be able to document the ability to construct an object in multiple ways as you said...

[2017-11-08 19:26] mysim1 commented on #471
my pull request isn't merged yet. see #472

[2017-11-09 14:30] MattMcFarland commented on #406
@flodonsky can you pull down my forked version and try it out?  you could probably just change your package.json / esdoc version tag to `MattMcFarland/esdoc#216ed7f` as[ npm supports github](https://docs.npmjs.com/files/package.json#github-urls) for version tags.

Also are there any other maintainers other than @h13i32maru  ?  He is very active on twitter but seems to be MIA here.

[2017-11-09 14:33] MattMcFarland commented on #466
On second thought, I think we could make this a plugin.

[2017-11-09 21:19] MattMcFarland opened #480 "Author will not continue maintenance until next year, refuses to add contributor"
See his tweet: https://twitter.com/h13i32maru/status/928374936061673472

![image](https://user-images.githubusercontent.com/623545/32630099-7094e4bc-c569-11e7-9a73-2de1d539b411.png)

My question is, do we have any other maintainers that can review PR and triage issues?  This is a great project, but my fear is that its really not sustainable if it only has one maintainer.  I'm really open to mainta

[2017-11-09 21:22] MattMcFarland commented on #480
Some things that really need to be done:

1. There are 4 PR, some of which open for a long time that should be reviewed
2. Issues need triaged, there are a number of issues that should be assigned, closed, or followed up on.
3. esdoc has had **3,170** downloads in the last day, **18,496** downloads in the last week, and
**81,585** downloads in the last month. With stats like this, shouldn't we hav

[2017-11-09 22:31] relicmelex commented on #406
@MattMcFarland looking now

[2017-11-09 22:32] iursevla commented on #480
My opinion is that only one mantainer is not enough for a project like. The main maintainer probably has a lot more to do than look for PRs and add new features, bugs etc.
This are my two cents. I can't help much in this project because  i lack the capabilites for such a project.

But on the other hand i'm a daily user of ESDoc and personally it is my favorite hands down. Even trying to use it for

[2017-11-09 22:34] MattMcFarland commented on #480
I love esdoc too @iursevla

Here are some options I'm thinking of (let me know what you think everyone)

Current options I'm open to:

1. I become a maintainer - I would do my best to honor this community and would triage all of the issues and review PR
1. Someone else is added as maintainer, maybe closer to the author or proven themselves - they would do their best to honor this community, triage

[2017-11-09 22:41] iursevla commented on #480
I'd say 1 and 2 are the best options because people already know the ESDoc, if forked it would take some time to get traction.
Anyway i looked over your account and looks like you have some experience with open source projects, so i think you would do great helping ESDoc.

[2017-11-10 01:33] MattMcFarland commented on #480
@h13i32maru since youre away until next year at the least, can you please help us come up with a solution to this problem?

[2017-11-10 12:54] MattMcFarland commented on #480
I'd be more than happy to maintain the project if @h13i32maru can add me as a maintainer.  I would triage all of the issues, review PRs and help keep this community alive.

I am trying to reach out to him on twitter, and he hasnt replied yet since I asked him.

If you would like me to maintain the project, or anyone else for that matter, please consider reaching out to @h13i32maru on twitter, we h

[2017-11-10 13:03] MattMcFarland commented on #480
https://twitter.com/h13i32maru/status/928969172188459008
"I'm sorry, I are not thinking about adding a maintainer for now. Because I want to advance at my own pace."

This might mean I have to fork and create a new project.  I do not want to do this alone though.

[2017-11-10 13:10] raveclassic commented on #480
I gave up _long ago_ and switched entirely to typescript and typedoc. Static typing is _much_ better than JSDoc comments.

[2017-11-10 13:13] xeoneux commented on #480
@MattMcFarland why don't you fork it under esdoc2/esdoc2 and continue development? That would be really helpful 😺

[2017-11-10 13:18] MattMcFarland commented on #480
@xeoneux I am going to probably do this, but I want to give the author time to reconsider, maybe we can convince him?

[2017-11-10 13:22] adilek commented on #480
Let's wait few days if the author will re-think. His response, on Twitter, sounds unserious.
If he still wishes to maintain alone, it would be better to fork.

[2017-11-10 13:44] raveclassic commented on #480
@adilek

He won't.

[2017-11-10 14:01] raveclassic commented on #480
@adilek There've been various attempts to bring in new feature to jsdoc but all of them were rejected by the author due to lack of interest/time. Check #310. All this led to a fork https://github.com/typhonjs-node-tjsdoc/tjsdoc/issues/2

[2017-11-10 14:19] atsushieno commented on #480
Stop spamming people. I didn't want to be spammed for just one single contribution. You could have reviewed before sending spams.

Anyhow I'm 99% sure the author is positive about forked developments. We do create organizations for several reasons (how one developer manages projects), not only to present that "the project is open and welcomes contributions". There is nothing wrong with creating it

[2017-11-10 14:36] MattMcFarland commented on #480
I'm sorry, I wanted to get everyone's attention because I think this is
detrimental to the community..  My concern is for the 3k downloads a day
and all of the users who are using a project that is paused.  I believe
they deserve better.

I think that it's a terrible mistake to treat such a big project that it's
just some ones personal code. If that's yhe case, Ryo should at least have
the common

[2017-11-10 16:04] amercier commented on #480
Hi, I'm not a big contributor (only tiny commit), but anyway, here's my two cents.

I think that whoever wants to to contribute to any open source project should favour opening/fixing issues on the main project (as opposed as his own fork) as possible. This is what you did @MattMcFarland by proposing your help, and that was the right thing to do.

However, the owner of the project clearly stated t

[2017-11-10 16:33] pzuraq commented on #480
@atsushieno you can unsubscribe if you'd like, it's not unreasonable to try to get people who might care's attention (I'm happy he tagged me, for instance).

@MattMcFarland I agree with all your concerns, this project is growing in usage and quickly becoming a pretty integral part of the infrastructure of the web. JSDoc, YUIDoc, and other solutions have fallen behind significantly and I honestly d

[2017-11-10 20:06] raveclassic commented on #480
@pzuraq Great words! I didn’t try to seem impolite and really hope all the work that’s done so far won’t go down the drain. I’m just trying to tell that the best decision for _my team_ was to switch to TS.
Still I’m looking forward to further development of esdoc no matter which way the community around it is going to pick.

[2017-11-10 20:10] MattMcFarland commented on #480
Since the @h13i32maru is not interested in adding any contributor to the project, I have forked esdoc to esdoc2 - https://github.com/esdoc2/esdoc2

I will now migrate all issues over and accepting PRs.
I want esdoc2 to be a community effort, not my own personal effort like @h13i32maru - if youre interested in joining the esdoc2 org let me know.

As of now my roadmap for esdoc2 is to bring awarenes

[2017-11-10 20:13] raveclassic commented on #480
@MattMcFarland Please contact @typhonrt. There’s a plenty of work done around migration to latest dev stack. I hope it could be merged to a truly community-driven library.

[2017-11-10 21:01] atsushieno commented on #480
Never mention me again, I turned off once but since someone mentioned me and then github turned on notification again.

[2017-11-12 00:41] MattMcFarland commented on #480
Author has returned, I'm thinking the language barrier must be an issue.

[2017-11-12 00:41] #480 closed

[2017-11-13 10:57] jimsheen commented on #403
Any chance we can get an error message showing us where the offending line is?

[2017-11-16 09:55] vitalets commented on #191
Did anybody solved this issue by some plugin?

[2017-11-19 10:39] le93us opened #484 "fs.js:663 return binding.open(pathModule.toNamespacedPath(path)"
Hello.

`kubuntu 17.10`, `node 9`
[bug demo git repo](https://github.com/le93us/esdoc-bug-demo)

I couldn't execute `esdoc` in the simplest example:
[code]

Can anyone help?

[2017-11-19 10:46] le93us commented on #484
after `esdoc` global installation
[code]

[2017-11-19 12:29] iursevla commented on #391
Had the same problem as @raziza.

[2017-11-21 14:20] 11111000000 commented on #2
now youre need to use plugin instead

[2017-11-21 17:51] le93us commented on #484
No response.

[2017-11-21 23:56] robertmain commented on #380
Not sure if this is the place for this - but it would be nice to be able to ignore things like `import` and `require` for coverage purposes.

[2017-11-22 04:21] robertmain commented on #466
Forgot to say. The documentation that esdoc produces actually says "Public Constructor**s**" which kind of implies that there may be more than one

[2017-11-22 05:34] robertmain opened #485 "Object.defineProperty"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

# Short summary of your issue
It

[2017-11-22 22:42] robertmain commented on #485
Closing as duplicate of #410

[2017-11-22 22:42] #485 closed

[2017-11-22 22:42] robertmain commented on #410
I ended up splitting them out into getters and setters and documenting them that way - I don't know if that's an option here or not

[2017-11-23 18:13] le93us commented on #484
Authors had fixed the issue without messaging here (

Anyway, - thanks - now it works ok!

[2017-11-24 00:20] ShimShamSam commented on #454
This is really messing with the perfectionist within me

[2017-11-28 06:27] felzix commented on #432
Is this something that's every going to get fixed?

[2017-11-28 22:05] le93us commented on #484
Bug is still actual.

[2017-11-29 13:53] TurboTim commented on #432
Same issue, any update?

[2017-11-29 17:18] 22a commented on #484
Duplicate of https://github.com/esdoc/esdoc/issues/432

[2017-12-01 10:53] GoranGjorgievski commented on #468
Same problem for me... According to their change log they added async function support as far as I can read. Did you happen to find a solution?

[2017-12-06 13:15] jorisknulst commented on #414
Have you found an answer yet? I have the same problem

[2017-12-10 14:47] robertmain opened #487 "Unable to document object parameters"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [X ] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

# Short summary of your issue
As

[2017-12-10 22:48] amirmohsen opened #488 "Using a named import for the class import statement"
I am using esdoc to produce documentation for my library. By default, esdoc generates an import statement at the top of each class doc that reads like this:

[code]

I use rollup to bundle up my library which means these direct file imports are not valid when someone uses the library. Instead, they should be using named imports like:

[code]

I've read through the documentation and the issues, but

[2017-12-11 07:03] MattMcFarland commented on #488
Hi @amirmohsen , you might be able to do this using the [esdoc-importpath-plugin](https://github.com/esdoc/esdoc-plugins/tree/master/esdoc-importpath-plugin) - it lets you use regular expressions to modify the imports.

If this is about **imported exports** - I'm afraid this might not be possible, although if it is I would surely like to know too.  I call this "Directroy as a Module" or DAAM (pron

[2017-12-11 14:07] amirmohsen commented on #488
@MattMcFarland I took a look at that plugin but it only allows you to modify the path, not the import itself.  As I said, I need a named import not a default import. I might have to dig into the code of esdoc and see if I can create a plugin to address my issue if this is not already possible. This is essential for my library because as it stands, the import statement is just wrong and misleads th

[2017-12-11 14:39] MattMcFarland commented on #488
@amirmohsen I hear ya.

This project is really not being well maintained atm.  its a shame to be honest.  I'm currently working on another project because the owner of this one doesnt want any contributors, it's really in infancy but it aims to solve this.

TBH I think esdoc bends over backwards for `classes` and poorly represents `modules` - with docsense, I aim to have modules as first class cit

[2017-12-11 18:43] amirmohsen commented on #488
@MattMcFarland thanks, I'll keep an eye out.

And I'll update the issue once I have a solution.

[2017-12-12 10:05] TheDavaakhuu commented on #432
Bug is still actual

[2017-12-12 11:28] pixelass commented on #403
Would be nice to get an update here. When this error occurs it's either disable lint or search for hours. A simple pointer to the line and file would be amazing.

[2017-12-12 11:49] pixelass opened #489 "TypeError when generating docs | Cannot read property 'length' of undefined"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)

- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue

A

[2017-12-12 12:25] pixelass commented on #477
@waltergms you can close issues yourself.

Also the error did not occur due to tbas vs. spaces. Both work as expected. The error suggests that there was a questionmark "?" in the first line (first-character)

[2017-12-12 12:40] pixelass commented on #489
I also tried to disable lint (without success)

[code]

[2017-12-12 12:48] pixelass commented on #489
Seems to be another issue due to missing debug or verbose option:

ERRORS NEED BETTER LOGS.

We need a better logging. Right now it is impossible to find errors without having to read documentations line by line.

[2017-12-12 12:57] pixelass commented on #489
Issue is resolve but contains valid subissues:

can't disble lint:
https://github.com/esdoc/esdoc/issues/489#issuecomment-351040006

keeping open for now.

[2017-12-12 15:44] #477 closed

[2017-12-13 00:09] 22a commented on #432
PR opened

[2017-12-13 03:25] MattMcFarland commented on #432
Feel free to send a PR to esdoc2 https://github.com/esdoc2/esdoc2.git

[2017-12-14 00:51] amirmohsen commented on #488
Alright, I've put together a small plugin, [esdoc-named-import-plugin](https://www.npmjs.com/package/esdoc-named-import-plugin) that addresses this issue. It doesn't have any tests or accepts any options at the moment but does the basic transformation from a default import to a named import. If other people find the plugin useful, I might improve it over time. Closing this issue.

[2017-12-14 00:51] #488 closed

[2017-12-18 19:28] Xal3ph commented on #454
More importantly, it makes it difficult to see if you are missing required documentation.  Any updates on this?

[2017-12-23 19:23] #447 closed

[2017-12-30 14:39] TriMoon opened #491 "No clean uninstall !"
This package leaves many packages lingering around after an uninstall !
See below, as i list you the transcript of each step.
<ul><b>Notice:</b>
<li>I made the console outputs become initially hidden to make this post readable.<br/>
To reveal/hide the console output, click the line(s) with arrow.</li>
<li>The actual <i>username</i> was replaced by <code>&lt;someusername&gt;</code></li>
</ul><hr/><

[2018-01-04 11:05] Anuga commented on #491
See my comment over at: https://github.com/npm/npm/issues/19484#issuecomment-355255503

[2018-01-04 21:43] amirmohsen opened #492 "Update "marked" dependency due to security vulnerability"
I am using ESDoc to generate documentation for my library. Github has given me an alert about a security issue with one of my dependencies, [marked](https://github.com/chjj/marked/issues/863) which is in fact a dependency of esdoc. Here's the result of running `npm ls marked` on my library:

[code]

As you can see, both core and at least one of the plugins depend on it. Could you please upgrade ma

[2018-01-05 06:44] teppeis commented on #492
Why are all dependencies locked? https://github.com/esdoc/esdoc/commit/86cf2206f7b53b599091573f888b8403635d96ca

[2018-01-05 07:40] amirmohsen commented on #492
That's a good point. If your dependencies follow semver, you shouldn't have to lock them like that.

[2018-01-07 12:31] TriMoon commented on #491
Thanks but in that case it is definitely a bug of **esdoc**, because it should not behave like this in the absence  of a `package.json`, think fe.
  - global installs/uninstalls...
  - user installs/uninstalls **unrelated** to any project the user is working on...

[2018-01-12 06:22] buschtoens commented on #167
Is this still a WontFix?

[2018-01-14 15:06] laosb commented on #454
Any updates?

[2018-01-17 14:43] dougdomeny commented on #120
`esdoc`'s `esdoc-standard-plugin` has an option to document unexported identifiers. You may also with to disable undocumented identifiers.
[code]

[2018-01-18 06:56] shenghu opened #493 "Is there way to disable source of code?"
I'm using it to document our utilitis, which is good. In the generated document, there is link `source` which allows user to jump to source code. However, I want to disable this feature. Is there configuration to disable it?

[2018-01-21 00:17] ericblade commented on #489
@pixelass it seems that you should use "option" not "options".

I'm running into a couple of totally random crashes and had to figure that out too. :-)

[2018-01-21 01:03] ericblade opened #494 "cannot install global without manually installing all of the dependencies global"
[code]

results in errors for missing modules for every one of the plugins.  required installing each one to be installed manually with npm install -g .. then it works.

[2018-01-21 02:34] pixelass commented on #489
@ericblade thanks for the comment. I didn't notice the typo. As mentioned my issue was resolved by fixing linting issues by carefully reviewing each docblock. My last comment mentioned that I was not able to disable lint.

[2018-01-21 05:07] ericblade commented on #489
right. i think there should be a topic to discuss how difficult it is to find errors in the linting process.  i've just disabled the linting completely, because i'm not going to chase through all the jsdoc strings to see if i can figure out what piece of what is breaking it.

[2018-01-21 15:40] ericblade opened #495 "github and snyk warn of security issues in dependency 'marked' 0.3.6"
There are apparent security issues in marked==0.3.6, 0.3.7 .. solution is to upgrade to 0.3.9 or better.  0.3.12 appears to be latest.  Adding esdoc as a dev dependency to my project causes me to have to use npm-shrinkwrap.json to force marked to update, which is a bit less than desireable.

[2018-01-21 16:41] ericblade commented on #493
I suspect turning off the "coverage" option might do that:

https://esdoc.org/manual/config.html#full-config

[2018-01-21 20:19] ericblade commented on #367
Looks like this has been a year since last looked at.  It seems that @see only supports {@link ...} ..

See (har har) http://usejsdoc.org/tags-see.html for how it should work, instead

I also suspect it probably should replace the "@see" with "See" or some other indicator.

[2018-01-23 06:03] shenghu commented on #493
@ericblade unfortunately, turning off 'coverage' doesn't disable reference to source code.

[2018-01-24 11:13] kumarbhushan commented on #301
Fixed by removing empty param
 ` *  @apiParam  `
^ Remove this

[2018-01-24 12:05] paztis commented on #403
Hi all,

I've fix this problem locally inside the esdoc-lint-plugin\src\Plugin.js file, in _formatResult method:
`
      //const comment = node.leadingComments[node.leadingComments.length - 1];
      const comment = node.leadingComments ? node.leadingComments[node.leadingComments.length - 1] : null;
`
`
      //const startLineNumber = comment.loc.start.line;
      const startLineNumber = comment ?

[2018-01-24 12:47] pixelass commented on #403
@paztis I'm not sure if this will work for all cases.

In many cases this happens due to invalid docstrings. So there should be an error logging the linenumber and column of the error.

I'm not sure what your fix does. can you explain?

[2018-01-24 13:10] paztis commented on #403
_formatResult  function goal is to display invalids comments (because parameters are not the good ones for exmaple).

But in this case, esdoc-lint tries to display the error location base on the comment start line.
In this specific case, the comment ( leadingComments ) is null, so as lint plugin hasn"t test the null case, there's a null pointer exception.

What I do is to test if leadingComments i

[2018-01-24 13:26] paztis commented on #403
And with this fix, it displays the line number just after the comment. So people can understand to error reason.

[2018-01-24 15:17] pixelass commented on #403
@paztis thx. That sounds good. Maybe you can open a PR so the maintainers can take a look.
I'll be happy to test your PR locally.

[2018-01-24 15:21] paztis commented on #403
I'm doing it. But to develop the unit test, as it concerns arrow functions, I need to add the esdoc-ecmascript-proposal-plugin as devDependencies. Is it problematic ?

[2018-01-24 15:21] paztis commented on #403
Ah perhaps not. Let me check

[2018-01-24 15:43] paztis commented on #403
PR submitted here: https://github.com/esdoc/esdoc-plugins/pull/48
It's not in the same repo it's in esdoc-plugins one

[2018-01-24 16:24] pixelass commented on #403
I just included esdoc in a new project and tried to force this error.

"Sadly" I can't reproduce the error anymore. (I don't fully remember what caused it in my case.

Any hints how to reproduce this issue? I will gladly test the PR.

[2018-01-24 16:29] paztis commented on #403
Yes I've put it in unit test. Declare in any file an arrow function like this for example:

/**
 * this is arrowFunction2 with a bad import
 * necessary to tests the missing leadingComments
 * @param p1
 */
export const arrowFunction2 = (p1, p2) => {};

and verify in the comment that you have a bad signature (in my case I declare only p1 param as there's p1 and p2)

[2018-01-24 17:02] pixelass commented on #403
Thx. I saw that was just too stupid to realise that I could use it to reproduce.  o_O

I added a comment here https://github.com/esdoc/esdoc-plugins/pull/48#issuecomment-360201761 with my local test results (screenshots)

[2018-01-24 18:52] paztis commented on #403
Great thanks. I hope this PR will be approved quickly.

[2018-01-25 08:43] TriMoon commented on #493
See: https://github.com/esdoc/esdoc-plugins/tree/master/esdoc-exclude-source-plugin
:wink:

[2018-01-25 09:13] TriMoon commented on #494
Related/duplicate of See #491 ;)

[2018-01-26 17:15] photonstorm commented on #494
I hit exactly the same problem just now myself. Had to install every plugin manually.

[2018-01-26 19:34] ericblade commented on #494
From the description, I don't see how those are related/duplicate, so it would be good if someone can explain the root cause, and then relate/close both of them :)

[2018-01-27 00:48] jy95 opened #497 "SyntaxError: Invalid regular expression: /[~]{( Set$/: Unterminated group"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue

He

[2018-01-27 19:05] jy95 commented on #497
The cause is the declaration of this :
[code]

Currently, the only way to fix it is to break this declaration into two separate typedef like this :
[code]

[2018-01-28 16:00] TriMoon commented on #494
@ericblade i would suggest you to try to install global and see the results/efforts needed.
To close either they need to make it possible to install global, until then ppl **will keep** complaining about it. 👅

[2018-01-30 16:11] ivikash opened #498 "Esdoc is failing"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
I a

[2018-01-30 16:31] ivikash commented on #498
Seems like disabling esdoc-lint-plugin is the only solution. Can you tell me a better way to fix this?

[2018-01-31 10:47] TriMoon commented on #498
duplicate of #403  ?

[2018-01-31 11:16] ivikash commented on #498
Yes

[2018-01-31 11:16] #498 closed

[2018-01-31 20:35] jayfreestone opened #499 "Missing non-explicit @param's"
I'm not sure how to document functions that are created as the result of a function expression.

For instance, with Ramda's [pipe](http://ramdajs.com/docs/#pipe) function (below), the `@param` seems to be ignored by ESDoc. This is probably because it isn't explicit, but is required by the result of `R.pipe(...)`.

For instance, this doesn't include the `@param` in the generated docs:

[code]

This

[2018-02-01 07:55] TriMoon commented on #499
Your first example is a static assignment with the value that function call returns.
The second example is an Arrow function definition using IFF.

Neither of the two create a function called 'getStaticMapImg' which im guessing is your intent here...

[2018-02-01 08:16] jayfreestone commented on #499
They are assignments, but they evaluate to functions.

I don't expect ESDoc to parse dynamic assignments, but I do need a way of documenting these, since for all intents and purposes `getStaticMapImg` *is* a function to the consumer of it. You call it with a parameter and it returns a value.

All I need is for ESDoc to take my word on it and include the `@params` I supply in a table, as it does in

[2018-02-01 13:10] TriMoon commented on #499
again, the fact that your function-call produces dynamic data on call-time, does **not** make your `const getStaticMapImg` **variable** dynamic...
**Because that expression will be processed only 1 time.**

If you want it to become a function then you should declare it as such... eg:
[code]
To be 100% clear;
The way you are coding there is like creating a macro wich will become a fixed value for t

[2018-02-01 13:12] TriMoon commented on #499
Anyway this repo is about esdoc usage and **not** about coding errors 😉

[2018-02-05 18:29] mcfletch opened #500 "Preserve Whitespace in Comment Blocks"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
Mar

[2018-02-10 03:18] kushaldalal opened #501 "callback function param with union fails to build"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [ ] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

# Short summary of your issue
Try

[2018-02-12 14:33] gs-akhan commented on #475
woow nice.. Looks deadly !! GoodJob

[2018-02-12 22:01] pixelass commented on #492
reported here too:
https://github.com/esdoc/esdoc-plugins/issues/50

[2018-02-14 09:06] abdekalder commented on #397
Same issue for large project. Any solution for this?

[2018-02-14 15:49] pixelass commented on #489
Closing this since I lost trust in this project and @h13i32maru

I might just fork esdoc since this behaviour is ridiculous.

[2018-02-14 15:49] #489 closed

[2018-02-18 16:26] jan-molak opened #502 "TypeScript: @example doesn't work without @desc"
Hi @h13i32maru and thanks for your amazing work on esdoc!

# Short summary of your issue

I've started using `esdoc` with `esdoc-typescript-plugin` to document my [Tiny Types](https://jan-molak.github.io/tiny-types/) project.
I'd like to enrich the documentation with examples, but it looks like the `@example` tag only works if the comment block also contains a `@desc` tag.

# Input data for reprod

[2018-02-28 00:25] korczis commented on #398
Any update?

[2018-03-01 03:55] shenghu commented on #493
@TriMoon thanks. This works.

[2018-03-01 03:55] #493 closed

[2018-03-02 14:20] pixelass opened #504 "Note about your absence"
Please add a note about your absence.

If you have no time to develop, please allow more maintainers or at least add a note. Just answering to one of the many issues would help too.

Since you seem to be pushing in other repositories it seems like you simply ignore this project which is very sad.

Yo spent a lot of time on esdoc and it would be nice to know what's going on or if anybody can be of

[2018-03-05 13:11] eemeli commented on #423
@geertendoornenbal I think I'm experiencing the same or a similar issue as this, with ESDoc output being hosted as "Javadoc" in Jenkins: paths that include `~` result in `404 Not Found` errors. How did you resolve this issue?

[2018-03-06 03:51] pzuraq opened #505 "Rework comment indentation to support non-JSDoc styles"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue

We

[2018-03-07 16:04] #497 closed

[2018-03-08 21:33] MattMcFarland commented on #504
This is why I created esdoc2 -> https://github.com/esdoc2/esdoc2 - because, if you see my post with the owner here: https://github.com/esdoc/esdoc/issues/480

1. He refuses to add contributors, and in my opinion, is breaking the TOS with Github, because he created an organization called "esdoc" but it is his "personal project" -

2. THIS PROJECT IS DEAD - until he decides to commit to it, which gi

[2018-03-08 21:34] MattMcFarland commented on #505
This project is dead, consider contributing to esdoc2 instead! https://github.com/esdoc2/esdoc2

[2018-03-12 13:11] pixelass commented on #504
@MattMcFarland IMHO esdoc2 is not production ready. I opened several issues.

https://github.com/esdoc2/esdoc2-plugins/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc

I want to move away from esdoc ASAP but right now I don't see an option without doing a lot of adjustments in my project.

[2018-03-14 21:10] Xal3ph commented on #454
I'm still running into this with the version of esdoc I'm currently using (1.0.4).

[2018-03-15 17:02] jkins opened #508 "undefined method name when method name is a String"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
esd

[2018-03-16 14:34] DrWilliamsSteven commented on #487
Similar to the way you can use @property <type> <name> [description] for properties on a return object.

[2018-03-16 15:26] robertmain commented on #487
@drwilliamssteven how do you mean?

[2018-03-16 17:29] DrWilliamsSteven commented on #487
You can do

[code]

[2018-03-16 19:44] robertmain commented on #487
Is that not what I did though? See my code sample..

[2018-03-19 09:53] David-Mulder commented on #371
This seems to have been intended to be supported, but never made it?

[2018-03-25 14:43] sarahdayan commented on #393
With JSDoc, you can use the `@module` tag:

[code]

Unfortunately, ESDoc doesn't support this syntax, as mentioned by ESDoc's creator in issue #300. Go with ESDoc if you're using the ES6 class syntax. Else, if you're library is primarily composed of factory functions, JSDoc is a better pick.

[2018-03-27 13:00] MG55 commented on #493
What if I want to completely hide the "source" page? I don't only want to hide source code, but also hide the link to the file list and the list itself. Using esdoc-exclude-source-plugin, the code is unreachable but the file list is visible.

[2018-04-06 03:09] phil-lgr commented on #475
Jesus Christ it's so sad that the maintainers are not answering the call!

[2018-04-09 19:39] dannobytes commented on #261
👍

[2018-04-09 19:50] dannobytes commented on #81
Me too

[2018-04-18 13:57] chrisharman commented on #404
Came across what I believe to be the same issue, except that my components were being exported wrapped with `withRouter()` like so:

[code]

I changed the component to export without the wrapper:

[code]

And created a go-between file to be able to use the components like I need them (wrapped with `withRouter()`):

[code]

After importing RouterComponents, I can then render the component with `<Ro

[2018-04-25 13:42] andrevenancio commented on #495
also having this issue. marked is not on 0.3.19! so its been a while :)

[2018-04-29 01:27] #492 closed

[2018-04-29 03:31] #432 closed

[2018-04-29 10:08] #406 closed

[2018-04-29 10:28] #460 closed

[2018-05-02 11:12] #504 closed

[2018-05-03 15:43] ozbillwang commented on #429
@kbariotis

Did you work it out finally?

I have similar request to run `esdoc` on a serverless project (nodejs), but there is nothing generated.

Any sample codes for me?

[2018-05-04 11:46] sidoruk-sv commented on #391
Got the same error, but my code base is too big for inspecting for the problem, described by @raziza.

I think it's better to add a check for `tmp.length` AND provide meaningful error with stack trace to `../file:Line:column`, where the problem occurs.

[2018-05-08 05:41] vvscode opened #510 "mismatch params and comments"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
It

[2018-05-24 14:57] Diokuz opened #512 "Identical md filenames in manual"
I have a config:
[code]
After building the docs, I cannot view `"./one/readme.md`, because both files have same url `esdoc/manual/readme.html`.

How to fix that?

[2018-05-25 20:12] Xal3ph commented on #454
I'm still running into this with 1.1.0.  The frustrating thing is that it used to work in previous versions.

[2018-05-25 20:42] Xal3ph commented on #454
ok so I spent a little time to figure this out - it looks like it's actually part of the esdoc-coverage-plugin.  If you change the code so that it's

[code]
then it works as expected.

[2018-06-01 14:58] Heliodromel opened #513 "Introduce Class generic"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
I w

[2018-06-07 23:21] conartist6 opened #514 "Proprosal: New publishing engine."
esdoc seems like an awesome project to me. I particularly like how easy it is to get started making a doc site which will automagically detect and expose to users the way your code is structured.

The problem: the standard generated site is pretty mediocre and hard to customize.  My gold standard for consistent, easy to look at, easy to use API doc sites is [Ember's](https://emberjs.com/api/ember/

[2018-06-09 16:56] conartist6 commented on #514
As I work on this it has become more and more clear to me what I think bugged me so much about the previous version.

ESDoc is meant to be synergistic with es6 code. It is meant to understand the kinds of things that es6 syntax is meant to let a parser easily understand, and it does.

The point it misses is that es6 syntax is also what any programmer reading the doc site should also understand, an

[2018-06-09 19:59] conartist6 commented on #514
I think I'm going to take a fundamentally different approach to params documentation. Esdoc syntax already diverges a bit from jsdoc syntax, so I don't feel too bound to the way things have been done.

In particular I notice that most params documentation is bad.

It looks something like:

[code]
This seems to me to just be playing a little game of Simon Says. One thing rephrases the other without

[2018-06-10 18:31] conartist6 commented on #450
I'm about to fix this.

[2018-06-11 07:25] sarat1669 opened #515 "Support for pipe operator"
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
Support for pipe operator
https://github.com/tc39/proposal-pipeline-operator

# Input data for reproducing
#### Configuration
[code]

#### Codes
[code]

# Except

[2018-06-11 15:24] conartist6 commented on #450
Actually, having just learned how hostile the library author is to maintainers I'm going to move my efforts over to esdoc2. Hope to see you there!

[2018-06-11 15:32] conartist6 commented on #514
I'm going to move active development on this over to esdoc2. As someone looking to make a major investment in this project I don't feel I have any choice as to where to put it, as the author has expressed in no uncertain terms that he is not interested in letting the project evolve beyond his personal control.

I sincerely hope that this and other features will give esdoc2 a leg up in the world, t

[2018-06-13 08:20] y4my4my4m commented on #397
Same issue here

[2018-06-18 14:17] gt-novelt commented on #513
I think what you are looking for is
`@param {Car} CarType`

[2018-06-18 15:06] Heliodromel commented on #513
Hi,

Thanks for your anwswer !

`@param {Car} CarType`

Hmm, not exactly because i want to express that `CarType` is a `Class` type param and not an instance of `Car`. With `CarType`, i will create an instance of `Car`:

[code]

[2018-06-26 06:37] YuryStrozhevsky opened #516 "Warning on function having destructing with default values"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
I h

[2018-06-29 11:07] lxsmnsyc opened #517 "Unexpected token at position 0"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [ ] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

# Short summary of your issue
[co

[2018-06-29 11:08] lxsmnsyc commented on #517
I've already checked issues [#477](https://github.com/esdoc/esdoc/issues/477) and [#369](https://github.com/esdoc/esdoc/issues/369) but it doesn't help me with my problem

[2018-06-29 16:18] Lenophie commented on #91
We still need this :)

[2018-07-03 08:33] SystemParadox commented on #494
The issue is with esdoc's module resolution and the way npm install global modules. It appears that esdoc expects to just be able to do `require(pluginName)` for each listed plugin, which means they need to be in the module path *from the perspective of esdoc*.

- If you install `esdoc-standard-plugin` locally, npm will pull the modules up as high as possible (e.g. `node_modules/esdoc-lint-plugin`

[2018-07-06 06:15] c-emil commented on #52
@h13i32maru Wouldn't it be better to provide an array of sources? If I have 15 directories to exclude but 2 to include, I think it would be nice to have such option.

[2018-07-06 07:26] c-emil opened #518 "ESDoc runs through all files in specified source directory not excluding `excludes` pattern"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
I w

[2018-07-06 21:48] bwyss commented on #391
I am getting this error in version 0.40.1 when:

map.fitBounds (to some enveloped geometry) followed by map.addLayer. I found that if I first create the layer, then fitBounds everything is happy

[2018-07-10 08:57] danyfedorov opened #519 "Esdoc fails upon object destructuring assignment with quoted keys"
# Short summary of your issue
If a variable is declared like this (with quoted field)
[code]
esdoc fails.

# Input data for reproducing
See this repo https://github.com/bugdie4k/esdoc-fail-example.
You can clone it and then do the following to reproduce:
[code]
#### Configuration
[code]

# Exception output (if possible)
#### Log
[code]

# Your environment
- OS type and version: Ubuntu 16.04
- Node

[2018-07-17 08:49] bichotll opened #520 "Any way to execute inline javascript from the manual pages?"
Is there not a way to inject inline javascript in the markdown page?

The only way I found is injecting a JS file.
https://github.com/esdoc/esdoc-plugins/tree/master/esdoc-inject-script-plugin

It would be an advantage whenever I need to create a demo.

[2018-07-18 22:19] Lenophie opened #521 "Typo in ESDoc's doc"
Hello !
I stumbled upon the following typo in the configuration documentation (https://esdoc.org/manual/config.html#full-config) :
In the ```esdoc-standard-plugin Option``` table, ```unexportIdentifier.enable``` should be ```unexportedIdentifier.enable```.

[2018-07-22 14:21] SilentImp opened #522 "problem with babel@7 support (maybe)"
# Short summary of your issue

# Input data for reproducing
#### Configuration
noconfig

#### Codes
can't add whole project

# Output data
it already present at the begining

#### Screen shot of documentation
// attach a image into here

# Exception output (if possible)
#### Log

#### Screen shot of documentation
none was generated

# Your environment
- OS type and version: macosx 10.13.6
- Node.j

[2018-07-27 00:14] vihanb commented on #522
Are you using any syntax that _only_ babel 7 supports? Though error looks like your shell is doing something to the glob. What is exact command you are running?

[2018-07-27 00:16] vihanb commented on #520
What is issue with injecting JS file?

[2018-07-27 09:30] daKmoR opened #523 "cli should offer a way to get it's config"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
Cur

[2018-08-02 08:25] daKmoR commented on #389
ran into the same situation.
What I would expected to work

[code]
[code]

Note: as we use a function to do the deduping for mixins it may need a `@mixinFunctin` and `@mixinClass`.

possible example
[code]

[2018-08-06 07:00] QingLeiLi commented on #419
Is there any progress on this issue?

[2018-08-12 16:51] CITguy commented on #261
I'm working on getting this updated.

* esdoc PR: #524
* esdoc-plugins PR: TBD

[2018-08-12 16:57] CITguy commented on #521
This seems to have been fixed in #507

[2018-08-12 17:33] CITguy commented on #513
ES6 classes are just syntactic sugar on top of classic constructor functions.

<img width="382" alt="screen shot 2018-08-12 at 12 31 23 pm" src="https://user-images.githubusercontent.com/545605/44004669-ac0ba10c-9e2b-11e8-8f62-20d68b0317cf.png">

What you probably want is:

[code]

[2018-08-14 08:22] Heliodromel commented on #513
Hi CITguy and thanks for your answer !

Yes, that's what i'm currently using (function type) but i was hoping we could bring that syntactic sugar into esdoc so that we get more expressivity.

But anyway, it works fine with the function constructor type. Thanks again.

[2018-08-23 12:29] Telokis commented on #66
@PinkaminaDianePie Thanks for this alternative! It's really good!

[2018-08-25 13:28] Wqrld opened #525 "moving from jsdoc to esdoc"
What would be required to move from jsdoc to esdoc? I am looking to use esdoc because it seems to be way cleaner. Would i have to rewrite all definitions?

[2018-08-26 07:31] #525 closed, assigned to nobody

[2018-08-28 12:53] loveneetsingh4 commented on #430
annot read property 'name' of null
    at eval (eval at compile (/home/ubuntu/workspace/yelpcamp/little/node_modules/ejs/lib/ejs.js:618:12), <anonymous>:34:35)
    at returnedFn (/home/ubuntu/workspace/yelpcamp/little/node_modules/ejs/lib/ejs.js:653:17)
    at tryHandleCache (/home/ubuntu/workspace/yelpcamp/little/node_modules/ejs/lib/ejs.js:251:36)
    at View.exports.renderFile [as engine] (/hom

[2018-08-28 12:54] loveneetsingh4 commented on #430
how i will  fix this error?

[2018-09-01 16:01] daKmoR commented on #389
as a hack you can modify https://github.com/esdoc/esdoc/blob/master/src/Factory/DocFactory.js#L410

just add the market 2 lines.
[code]

The use `@mixinClass` on the class to mix and use `@extends` on the instance.

Example:
[code]

Question can this functionality also be provided as a plugin?

[2018-09-02 00:11] alexdiliberto commented on #519
Just ran into this today as well except I was using a quoted class field which is a valid syntax; however, breaks ESDoc

[code]

[2018-09-03 03:20] KenEucker commented on #380
+1

I am seeing that local objects which are simply requiring other files are getting picked up as variables, or errors as undocumented. It would be nice if the @ignore keyword would work here, but it doesn't seem to.

[2018-09-30 10:46] sebs opened #526 "Please inline Google Font"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x ] https://esdoc.org/manual/feature.html

# Short summary of your issue

Inline the google font and do not load it from fonts.googleapis (maybe make that an option again)

Why:

1. As a sidefeffect of viewing random documentation, google

[2018-09-30 11:08] sebs opened #527 "Pleas document includes, excludes a bit more. provide a basic example to exclude node_modules"
All the documentation has examples for "includes" and "excludes" that are not really explained.

1. Why a backslash, which notation is it? How does that work, can I use full file names, why does "node_modules/**" not work.
2. The $ sign?

Its most likely the externalized internal functionality (regexp matchers imho) and its ok to do it that way, just please write what you are doing.

 I was a look

[2018-10-02 08:36] scriptcoded opened #528 "ESDoc skips block"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
ESD

[2018-10-11 20:10] docwhat opened #529 "@test for getters/setters"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue

Th

[2018-10-17 13:40] vinz51 commented on #380
+1 @thurt
Any informations about this subject ?
I would like to ignore some functions of react like all lifecycles and other `mapStateToProps`/`mapDispatchToProps` from `react-redux`. But i can't write `/** @ignore */` each time i would like to use them.

I'm wondering if i can use a kind of regex to see if the functions are contains in an array.

Any answers ? 😃

[2018-10-22 09:15] scriptcoded commented on #528
Any updates here?

[2018-10-25 05:21] cloewen8 opened #530 ".mjs files are not parsed"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
If

[2018-10-25 06:04] jcc10 opened #531 "How to force dynamic mixin function to be treated as a class"
So the issue I am having is being unable to use a dynamic mixin class display as a class.

For example:
[code]

Will display as a function instead of a class, as far as I know this is the only "correct" way of implementing dynamic mixin's in ES6, is there any way to force ESDoc to treat it as a class? Or am I just implementing dynamic Mixin's wrong?

- ESDoc version: 1.1.0

[2018-10-25 18:27] jcc10 commented on #531
So if I use the function found [Here](http://es6-features.org/#ClassInheritanceFromExpressions) it does display classes correctly. However super functions & constructors can't be used with the mixin's. You have to use separate functions.

[2018-11-01 13:34] lensbart opened #532 "Support optional chaining syntax proposal"
Thanks for making ESDoc, I really appreciate the work. The title says it all!

https://github.com/tc39/proposal-optional-chaining

[2018-11-02 14:25] Lakitna commented on #519
Me too, but with a quoted export value which is also valid js syntax.

[code]

[2018-11-05 13:01] iehdk opened #533 "ESDoc and broken symlinks"
Situation: I want to exclude a directory and setting `"excludes": ["\\.meteor\/"],` should do the trick, however, said directory contain broken links resulting in `Error: ENOENT: no such file or directory, stat ...`.

We need graceful exclusion of directories regardless of their content.

"esdoc": "^1.1.0"

[2018-11-07 04:27] eliasthompson opened #534 "Acorn Sub-Dependency Warning"
# Summary
Using `esdoc` with other packages that depend on up-to-date versions of the `acorn` package, (in my case,` eslint`) causes the below output to show every single time an `npm install` occurs.

From what I can tell, this is because the likely now unmaintained dependency `ice-cap` depends on an old version of `jsdom`, which in turn depends on version `^2.4.0` of `acorn`. Because this packag

[2018-11-22 09:52] IzioDev commented on #310
@typhonrt Any chance of making your multiple source work?

[2018-11-23 15:16] YannCaron commented on #91
I'm also pretty interested by this feature.
Please can you also consider this kind of writing :
[code]
To create an enum embedded in a class. :-)

[2018-12-08 00:57] satcheluniverse commented on #440
Having this issue with private properties as well (prefixed with #)

[2018-12-15 00:32] parties commented on #440
This configuration seems to be working for me; found it in the [`esdoc-ecmascript-proposal-plugin` readme](https://github.com/esdoc/esdoc-plugins/tree/master/esdoc-ecmascript-proposal-plugin).

[code]

[2018-12-20 10:55] lll000111 opened #535 "Crash "TypeError: Cannot read property 'charAt' of null""
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [ ] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

Bug

# Short summary of your issu

[2018-12-20 11:12] lll000111 opened #536 "Object destructuring in function parameters error"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [ ] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

Bug

# Short summary of your issu

[2018-12-20 11:23] lll000111 commented on #535
The crash does not happen when I set standard plugin option `"autoPrivate": false` (default is `true`)

[2018-12-20 11:31] lll000111 opened #537 "SyntaxError: Invalid function type annotation: `function(SHA256Hash)`"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [ ] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

I'd say this is a bug more than a

[2018-12-25 11:12] loopmode commented on #220
I don't think anything has happened on that front. However, here's a workaround approach.
You can use `typedef` tags to define the entire propTypes object as a type with properties.

Pros:
- You can document each prop type of your component

Cons:
- The data type is not inferred from the propType, you still have to manually provide it
- The documentation of the individual props is on a separate do

[2018-12-28 11:24] loopmode commented on #66
@h13i32maru I think that `ES6 code style is Class Base OOP` is simply an incorrect premise. ES6+ is about much more than about classes, especially given its powerful module system.
A developer who tries to force everything into classes in javascript - for whatever reason - wouldn't last long in my company. And I personally feel ridiculous trying to squeeze everything into classes just for the sake

[2019-01-08 03:55] design1online commented on #397
:( I just ran into this as well

[2019-01-12 04:57] proddi commented on #531
I run into the same issue. When i use the [mixin-approach](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes#Mix-ins) it doesn't display any member.

When i specify this . i got it to work:
@extends {ClassB}
@extends {ClassA}

[2019-01-13 02:35] junzhengca opened #538 "Missing multiple classes within generated documentation"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue

Ge

[2019-01-13 02:42] #538 closed, assigned to nobody

[2019-01-13 02:43] junzhengca commented on #538
Realized this is due to ECMA proposal syntax not natively supported, my bad.

[2019-01-31 12:05] callingmybluff commented on #66
I came to ESDoc because of direct lining between code and comments, along side the coverage page. However, gonna remove it soon and go back to documentation as it supports modules. This is a big deal for many users, whether the dev here liked to confirm to that or not.

[2019-02-27 10:51] SamiSammour commented on #418
It's frustrating that I can't do such thing.. and now there's no such thing as `onHandleTag` so I'm stuck

[2019-03-05 04:23] Aaron3 commented on #66
I would point out that `@module` has existed for a while: http://usejsdoc.org/tags-module.html

[2019-03-10 18:16] DavidMGross opened #540 "symlinks cause fs.js to fail with ENOENT"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
On

[2019-03-14 08:33] nirajbhutada commented on #271
ESDoc v0.5.0 supports arrow function exporting. Please check it.

[2019-03-14 10:36] nirajbhutada commented on #318
I have installed esDoc 0.5.0, but still its not working dude 👎

[2019-04-03 09:10] munierujp opened #541 "navigation area is transparent"
## Problem
![スクリーンショット 2019-04-03 18 05 20](https://user-images.githubusercontent.com/20086673/55466904-1cef1300-563b-11e9-9014-5c6c515595b4.png)

navigation area (`.navigation`) does not have any background color.
So, content area (`.content`) is seen through when scroll page horizontally.

## How to fix
Add background color to navigation area (`.navigation`).

[code]

![スクリーンショット 2019-04-03 18 0

[2019-04-03 10:23] johnsudaar commented on #91
Any updates on this ?

[2019-04-11 15:28] FBNitro opened #542 "Audit Report Issue due to 'marked' dependency"
Both esdoc and esdoc-publish-html-plugin depend on 'marked', which has a security warning in the npm audit report.

Please upgrade to >=0.6.2 of marked to resolve this audit failure.
See: https://nodesecurity.io/advisories/812 for more information

npm audit --registry https://registry.npmjs.org
[code]

[2019-04-12 15:50] jonhargett commented on #81
Just to add another use case: I am documenting a Web Component. It extends the HTMLElement which already has event handling, so I don't need to have a custom Event Emitter. I just need to document that my web component dispatches an event.

[2019-04-12 22:45] zachawilson commented on #542
Check #543

[2019-04-15 00:57] Sonictherocketman commented on #542
+1

[2019-04-29 07:51] csimi commented on #542
Other than that it seems that all dependencies are locked to a single version which makes deduplication a no-go.
Also, if a vulnerability is found in any other dependency it's impossible to ```npm audit fix``` it automatically.

[2019-05-06 04:53] natade-jp commented on #530
You can specify the target file in "includes".

**Configuration**
[code]

reference
https://esdoc.org/manual/config.html

[2019-05-07 00:45] elashpear commented on #91
@raveclassic That sounds like a great idea - would love some tips on how to do this. I was able to get ESDoc up and running super easily but I have been unable to figure out how to do the same with typedoc, it just spits out an empty template page.

[2019-05-09 22:01] cybermerlin opened #544 "es67 class with properties (split of undefined in DocBuilder:903)"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [ ] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

# Short summary of your issue
//

[2019-05-12 11:30] cybermerlin opened #545 "exception on build docs with esdoc-es7-plugin@latest"
https://github.com/esdoc/esdoc/blob/38ad523936d425278cc037c9c0e11338faa2709b/src/Factory/DocFactory.js#L89

.body of undefined

[code]

[2019-05-16 10:06] alexalv commented on #347
Any news on this issue?

[2019-05-16 12:46] gomesalexandre commented on #542
The author of the package seems mostly inactive, I'd suggest using a fork directly from GitHub in the meantime

[2019-05-19 17:08] ericblade commented on #535
Can confirm, setting autoPrivate: false prevents this error from occuring.

[2019-06-05 17:00] nduchak commented on #495
You need to update it again due to [this](https://www.npmjs.com/advisories/812).

[2019-07-27 00:53] fab1o opened #547 "Fail to generate links to a class with dots (namespace) in the @class name"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
It

[2019-07-27 01:58] fab1o commented on #547
I found out the way. Replacing @class with @typedef

[2019-07-27 02:11] fab1o commented on #547
If I use @typedef instead of @class the link works, but the I loose all the documentation of the class including its method, constructor, etc... Is there a way to have the class and the typedef working at the same time, so I can get the links?

[2019-07-30 12:30] DamickDoni opened #548 "Can't create documentation when using @jest-env"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
Whe

[2019-08-01 13:08] BarbourSmith opened #549 "ESDoc doesn't parse comment after object containing other objects without a ; at the end"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

# Short summary of your issue
ESd

[2019-08-08 05:39] amazingandyyy commented on #534
any updates??

[2019-08-15 07:25] canberkdurmus commented on #534
Any updates?

[2019-08-20 12:23] rzr commented on #534
Relate-to: https://github.com/RReverser/acorn-jsx/issues/100

[2019-08-21 10:12] alexalv commented on #532
Any news on this issue?

[2019-08-21 14:51] nayeembadhusha commented on #383
@guiguan why do we need export keyword...why does ESDoc doesn't produce any document for this code?...But generates doc when used with export keyword?
`/**
 * @param {Number} a - Integer value
 * @param {Number} b - Integer Value
 * @returns {Number} diff - Integer Value
 */

function add (a, b){
        var sum;
        sum = b-a;
        return sum

    }`

[2019-08-23 13:26] mstruensee commented on #549
try putting @desc in front of `The camera which controls how the scene is rendered.` and `A description.`

[2019-08-23 13:28] mstruensee commented on #548
why would you want docs generated for test files, just exclude them...
[code]

^^ what I do ...

[2019-08-25 14:27] DanielRuf commented on #535
See https://github.com/esdoc/esdoc-plugins/pull/91

[2019-08-26 08:36] BarbourSmith commented on #549
Thanks for the suggestion @mstruensee . I gave that a go, but unfortunately no difference.

I think that for some reason the parser is relying on the semicolon to do the parsing and without the semicolon the comment isn't seen at all

[2019-09-16 17:28] fab1o opened #550 "@returns v.s @return - ambiguity causes inconsistency"
This is a question/issue/feature request.

In the documentation, https://esdoc.org/manual/tags.html, there is no reference to `@returns`. I couldn't find it anywhere. I could only find `@return` as the correct tag.

However, when `@returns` is used in the code, the docs are still generated correctly, as if we used `@return`.

This ambiguity causes inconsistency in codebases if different team membe

[2019-09-16 17:31] fab1o commented on #426
Isn't this already added? I'm raising an issue with this and I don't think it should be added (assuming it's not already): https://github.com/esdoc/esdoc/issues/550

[2019-09-16 17:32] fab1o commented on #426
Or following your point here, for argument purposes, `@return` should be removed if `@returns` is added`, because ambiguity causes inconsistency

[2019-09-16 17:40] fab1o commented on #550
There's inconsistency even in ESDocs' own source code: https://github.com/esdoc/esdoc/blob/38ad523936d425278cc037c9c0e11338faa2709b/src/Parser/ParamParser.js
https://github.com/esdoc/esdoc/blob/master/src/Parser/ParamParser.js

Imagine a huge project with thousands of files.

[2019-09-16 17:41] fab1o commented on #550
Given that it seems to there're more `@returns` than `@return` in ESDocs own source code.

Documentation needs to be updated to support it. And It would be nice if it didn't support `@return` to avoid ambiguity and inconsistency.

[2019-09-16 19:15] fab1o opened #551 "Bug: Magically infer the return data type of a function is not working correctly."
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue

I

[2019-09-30 09:36] aloksingh3112 opened #552 "Make esdoc responsive on mobile"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ x] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [ ] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

# Short summary of your issue
//

[2019-09-30 10:45] bbusschots-mu commented on #550
I strongly disagree that either `@return` or `@returns` should be removed. Instead, the docs should be updated to make it explicit that `@return` is an alias for `@returns`. This is how JSDoc handles this situation. It is similar to `@param`,` @arguments` & `@arg`.

One final point, `@returns` is more in keeping with `@throws`, so it is definitely the most consistent of the two options. Because `@

[2019-10-09 23:54] MilesYu15 commented on #517
I have the same problem. The problem may be the encoding of the esdoc.json file. Mine was UTF-16 at first. I created a new one in UTF-8, and the problem disappeared. I hope this can help you!

[2019-10-15 14:42] toondaey opened #553 "Defining Identifies"
First of, I should say great work and thank you for building this.

I've been struggling with a part of the documentation [identifier syntax](https://esdoc.org/manual/tags.html#identifier-syntax).

I don't quite understanding how to define an identifier because I have classes with the same name and I really need to differentiate the identifiers for testing-documentation purposes.

[2019-11-04 09:26] DanielRuf opened #555 "Outdated website / docs"
It seems the website / docs of esdoc is not the latest - `--save-dev` is missing there.

[2019-11-14 18:42] cjancsar opened #556 "Project Dead?"
Looks like this project is dead. Is there any active alternatives?

[2019-11-14 21:19] adrianovieira opened #557 "Add support for asciidoc manuals"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

Add support to render/parse manua

[2019-11-15 19:48] cjancsar commented on #555
That is because -> https://github.com/esdoc/esdoc/issues/556

[2019-11-15 20:42] DanielRuf commented on #555
We use typedoc now. It's still actively maintained.

[2019-11-15 20:42] DanielRuf commented on #556
Maybe I will create a fork then.

[2019-11-17 22:13] DanielRuf commented on #556
https://github.com/DanielRuf/esdoc-next

[2019-11-20 14:25] cjancsar commented on #556
@DanielRuf ok thanks. I would probably be up to helping you maintain the fork. What do you think the first steps are?
- Review open PRs to see if they are good fits (if not features)
- Review and merge any bug fixes
- Update Docs to host elsewhere
- Get the lib packaged and publish on npm under new name

I am interested in getting this project active again, and abandoning this abandoned repo. From

[2019-11-20 14:26] cjancsar commented on #555
@DanielRuf does TypeDoc support plain JS projects though?

[2019-11-20 14:26] cjancsar commented on #555
Looks like it might: https://github.com/TypeStrong/typedoc/issues/643

[2019-11-21 21:42] larsno commented on #417
The problem is that there is a regular expression created in the function `_findByName()` on line 116 of `node_modules/esdoc-publish-html-plugin/out/src/Builder/DocBuilder.js`. This regular expression if created by escaping  `*` in the text. However, your type includes brackets and the regular expression ends up having unbalanced unescaped brackets.

I fixed it by replacing the existing
[code]
wit

[2019-12-22 15:39] DanielRuf commented on #556
Definitely

That was my intention

This too

Part of the plans

[2019-12-22 15:39] DanielRuf commented on #556
Definitely

That was my intention

This too

Part of the plans

[2019-12-31 23:49] robrich opened #558 "rewrite links: .md -> .html"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [ ] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

# Short summary of your issue
Rew

[2020-01-13 04:10] itsjamie commented on #556
If anyone is interested, there is a fork up at https://github.com/itsjamie/esdoc-next. It is published and available on NPM for anyone who happens to need these changes. But, I don't intend to actively maintain the work beyond what is needed for any projects that I'm working on.

Changes below I made if anyone is interested, or looking from a jumping-off point for their own work.

- Updated to use

[2020-01-13 05:15] DanielRuf commented on #556
Sorry but this is not a fork @itsjamie and you do things before they are discussed with others. For example the versioning should be continued.

And that is my main concern. So this is no actively maintained fork.

[2020-01-13 14:12] itsjamie commented on #556
Yes. Correct.

I was informing folks that someone had done work they could pick up from if they had the same needs as I did.

[2020-05-20 14:36] #391 closed

[2020-05-20 15:23] Kepro commented on #391
@3axap4eHko closed after 3 years without any word?

[2020-05-20 15:30] 3axap4eHko commented on #391
@Kepro just cleaning up hanging issues

[2020-05-29 17:44] fkm commented on #556
Sorry. But, after reading this multiple times I'm still not certain.

### Is there any actively maintained fork of ESDoc?

I would gladly help with maintenance and PR reviews. But I don't want to run into the next abandon-ware project.

[2020-05-29 18:37] DanielRuf commented on #556
Not really sure. See https://github.com/esdoc/esdoc/network

I do not know if I have the needed resources to continue with https://github.com/danielruf/esdoc-next but I could try and move it to an org if more are interested to work on this together.

https://github.com/DanielRuf/esdoc-next/commits/master

I would not reset the version number like it was done at https://github.com/itsjamie/esdoc-ne

[2020-05-29 18:42] DanielRuf commented on #556
If @itsjamie is interested I would invite him to create a roadmap and plan for the monorepo migration (but please let's do not continue with 0.x - which might produce issues with changelogs, tags, ...) and might conflict with later versions.

But first we should merge some PRs and resolve issues to fix bugs and deliver updates so people can easily update / migrate without fear of breaking projects

[2020-05-29 20:39] fkm commented on #556
Nice idea with the network page! :sunglasses:

I think I'll have a look at [esdoc2](https://github.com/esdoc2/esdoc2).

Concerning your other points:
I concur that continuing the project and version numbers would be the right way to go and think that an organisation would be a great way to guard against abandonment because one person went silent.

[2020-05-29 21:06] DanielRuf commented on #556
Well, esdoc2 had the last change in 2018 and I think I also checked it. They have other bugs / issues to resolve.

I think we should merge esdoc and esdoc2 in a new project. But I'm not sure if this is the right approach. I would like to continue the versioning as best as possible.

https://www.npmjs.com/package/esdoc has about 40k weekly downloads
https://www.npmjs.com/package/esdoc2 has about 7k

[2020-05-29 21:10] DanielRuf commented on #556
I have created a new org and moved the repo to it: esdoc-next/esdoc-next

@fkm and @itsjamie have received invitations. If there are others who want to join at this stage, please let me know.

Also please let's discuss the next steps before we do anything - don't rush =)

[2020-05-29 21:14] DanielRuf commented on #556
I'm also not sure if the GitHub project is sufficient or if ZenHub (https://zenhub.com/) would be more useful in the longterm. We'll see then.

[2020-05-29 22:26] fkm commented on #556
What intrigued me about esdoc2 is that there weren't many PRs open. But a look at the closed ones shows that there weren't many incoming to start with :smile:

Thank you for the invitation! :sunglasses:  I'll have a go at it tomorrow.

I'm not too psyched about ZenHub. The tool itself looks nice but as this is something we'll be doing on the side I think an external ticketing system would work aga

[2020-05-29 22:26] fkm commented on #556
Ah. And I totally concur that we should not rush things!

[2020-05-29 22:47] DanielRuf commented on #556
Ratios are often helpful metrics (contributions, open/closed issues and PRs, ...).

I would just use the roadmaps and epics there but you are right, it is probably too overcomplicated. In general it is not a separate issue tracker as it is directly connected to GitHub - you can create and manage issues from and for the GitHub project, this is synced.

[2020-05-29 22:53] fkm commented on #556
I honestly only looked at the pictures and didn't read about the GitHub integration :see_no_evil:  That could indeed help to remove the burden! Let's try it :smiley:

[2020-07-23 19:04] onhernandes opened #564 "Table of Contents rendering with display: none"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [x] https://esdoc.org/manual/api.html
- [x] https://esdoc.org/manual/faq.html

# Short summary of your issue
I'm

[2020-07-25 10:31] MadaraUchiha-314 commented on #532
This is breaking my docs too, any news on supporting this ?

[2020-08-08 08:21] cubehouse commented on #532
A quick hacky plugin to remove optional chains before ESDoc parses the code:

[code]
Very quickly thrown together, but works fine for my small project just fine. Add this file into your project and include it as a plugin in your config file.

It looks like esdoc is using an old parser by Babel, which doesn't support optional chaining. Updating to @babel/parser may do the trick, though my hack is e

[2020-08-24 06:04] RossComputerGuy commented on #519
Similar error, possibly related:
[code]

Caused by this comment:
[code]

[2020-09-12 22:12] #555 closed, assigned to nobody

[2020-12-24 17:17] jonasexplore commented on #517
I'd change to UTF-8 and worked! Thanks so much ^^.

[2021-02-26 03:06] sayore opened #566 "import.meta.url will throw an error"
Since the Project is dead i will just copy what i've written in documentationjs:

For the time being i recommend the following:
[code]
PackagePath should resolve to the directory to where the package itself is, process.cwd() will give you the directory the js/bin is executed at.
This can be used to have a BaseClass to resolve to the right import.meta.url-path you wanted to get.

I know this is obv

[2021-02-28 15:03] bencresty commented on #81
Here's another one having lots of code with events. Is there a way of adding js/esdoc for events without rewriting all the code itself?

[2021-03-04 09:18] bencresty opened #567 "Linked markdown files in README don't get HTMLized, so get lost in documentation"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [x] https://esdoc.org/manual/feature.html
- [x] https://esdoc.org/manual/config.html

# Short summary of your issue

First of all, thanks for all the hard work. The generated documentation looks great and is super useful!
I love it that REA

[2021-03-16 14:21] Exlord opened #568 "Cannot read property 'program' of undefined"
`.\node_modules\.bin\esdoc -c .esdoc.json`

[code]

[code]

# Your environment
- Win 10 X64
- Node.js version: 14.15.0
- ESDoc version: 1.1.0

[2021-04-03 08:45] bencresty opened #569 "@type description after dot is ignored/removed in docs"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

# Short summary of your issue
Whe

[2021-04-03 09:08] bencresty opened #570 "please consider supporting the @readonly tag"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [x] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

# Short summary of your issue

Wh

[2021-05-20 12:50] datdinhquoc opened #571 "How to disable doc for just a line"
# Short summary of your issue
I need to disable a line which is the same in every file, ESDoc put all of them into output doc unnecessarily.

# Input data for reproducing
#### Codes
[code]

# Issue
With a hundred files, ESDoc generates the same 100 `log` entries in the output doc.
That `log` is useful in all files but it's pointless in documentation.

# Solution?
Wish there could be something simi

[2021-07-07 03:00] f-mtz commented on #517
@fallying that did work, thank you

[2021-11-12 06:25] #403 closed

[2022-01-20 16:58] bachu-shannon commented on #568
I have a similar problem!

[2022-04-06 10:04] yyman001 opened #574 "runtime error"
Make sure these boxes are checked before submitting your issue - thank you!
(If your issue is neither a both bug nor a request, please write in a free style)
- [ ] https://esdoc.org/manual/feature.html
- [ ] https://esdoc.org/manual/config.html
- [ ] https://esdoc.org/manual/tags.html
- [ ] https://esdoc.org/manual/api.html
- [ ] https://esdoc.org/manual/faq.html

# Short summary of your issue
ins

[2022-05-16 22:21] beachcitiessoftware commented on #532
Any update on this?